.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 6vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  background-image: linear-gradient(to right, #502987, #04bbdb);
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  font-family: 'Cabin Sketch';
  font-weight: 400;
  color: white;
  padding-top: 15px;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none
}

.big-text {
  font-size: 2em !important;
  width: 10em !important;
  height: 3em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.instructions {
  font-size: 2rem;
}

.word {
  font-size: 2em;
  margin-bottom: 1rem;
}

.width-250 {
  max-width: 250px;
}

.width-4em {
  min-width: 4em !important;
}

.height-500 {
  height: 500px;
  overflow: auto;
  position: relative;
  bottom: 0;
  background-color: rgba(4, 187, 219, 0.1);
  padding: 1em;
}

.room-containter {
  height: 300px;
  overflow: auto;
  position: relative;
  bottom: 0;
  background-color: rgba(4, 187, 219, 0.1);
  padding: 1em;
}

.img-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.parent {
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
}

.drawIcon {
  display: inline-block;
}

.room-container {
  border: 2px solid #dedede;
  padding: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 1ch;
}

.current-users-title {
  text-align: center;
  font-size: 20px;
}
