body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  border: 2px solid #ccc;
  cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAABF1BMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiwF6AAAAXHRSTlMAB/T+9T605ylBLXv9783qBab8uR3ZFlxeUJm7PND7lwTm6QrRp+P6WcByCLGHOI1ljmQuM4DX2x/xFfJwbK5ME/l9Aav4ye0JMqw63kvUcdNGZw9bx4kn8KICNcx0h+oAAAEnSURBVEjH7dbXTgMxEAXQgQAJ2UJ6J51A6L333nuo9/+/AxNkCJDgmReUh4xk6a7kI9srS2OiNil/JRiQCZ8X6OuSCpn5EBKjBd98Ca5pFDzzXXDMT2E2v4XJNBN/G/8AmtaQWMAr25Wqnv6O6Ih/FHfFFqK7t9XlvYVblgmq4f5ZJh7xVBoUnEPVA3IvWVzuJiayvDUoX8Ar3ST3VJziCbrAtY6zrF0R7eNKR4u1Bm0f7MR0PmQJ2sCmjhmeIBdbOp445+6RWcyhkG/4PDs1CppB+DNHrCiwZhKBIjzT9VSKp22gvL5qaiRJddpQnGg+tQI4qQyjv42//6FQcAmw04ljTkeMDXsUUWNxYZnZqEfr853cJP81oO68HR4Zkzw5qlErQm1Xb06j90f/RUFjAAAAAElFTkSuQmCC) 0 50, auto;
  clear: both;
}
